.engineering-services-content {
	@extend .wrapper;
	@media screen and (max-width: 800px) {
		width: 90%;
		margin: auto;
	}
	&__title {
		width: 100%;

		text-align: center;
	}
	p {
		@extend .paragraph;
	}
	strong {
		@extend .strong;
	}
	em {
		// @extend .em;
	}
}
