mixin engineering-services-content()
	section.engineering-services-content
		.engineering-services-content__title
			h1.title Инженерный сервис

		p В рамках партнёрской программы компания «АйСиЭн Сервис Инжиниринг» осуществляет техническое обслуживание инженерных систем и оборудования объектов недвижимости.
			
		p Обладая большим опытом обслуживания, квалифицированным инженерно-техническим персоналом и необходимым оборудованием, компания «АйСиЭн Сервис Инжиниринг» проводит весь комплекс планово-профилактических и регламентных работ и обладает собственной мобильной ремонтно-восстановительной службой для максимально оперативного восстановления работоспособности оборудования при неполадках и отказах.
			
		strong Основными приоритетами в нашей работе являются:

		ul
			li Эксплуатация систем и оборудования в соответствии с требованиями завода-изготовителя, техническими требованиями и эксплуатационными периодами;
			li Регулярная проверка функционирования и соблюдения заданных режимов и параметров, ведение учетной документации;
			li Диспетчеризация систем – постоянный контроль параметров и оперативное реагирование на сигналы о неполадках;
			li Восстановление работоспособности оборудования при отказах и осуществление мероприятий во избежание возможного ущерба;
			li Выполнение всех регламентных работ в соответствии с планом-графиком;
			li Своевременная замена необходимых расходных и эксплуатационных материалов;
			li Ведение учетной документации по параметрам оборудования и систем, предоставление отчётов по выполненным работам с установленной периодичностью.

		em По отдельному соглашению – проведение капитального ремонта оборудования и систем, замена вышедшего из строя оборудования.
		em Деятельность компании застрахована.