mixin about-content()
	section.about-content
		.about-content__title
			h1.title О компании

		.about-content-sidebar
			a(href="#" title="").about-content-sidebar__item.active О компании
			a(href="#" title="").about-content-sidebar__item Клиенты и партнеры
			a(href="#" title="").about-content-sidebar__item Контакты
			a(href="#" title="").about-content-sidebar__item Управление

		.about-content-body
			strong ООО Гранд Сервис Билдинг ФМ занимается управлением и эксплуатацией коммерческой недвижимости с 2003г . Начав с управления 24 000 кв.м., мы заслужили доверие своих Клиентов и сегодня обслуживаем 400 000 кв.м. в бизнес-центрах г.Москвы.
			p Обладая инновационным техническим оснащением, подготовленным и высококвалифицированным персоналом, мы осуществляем полный комплекс работ и широкий спектр услуг в области управления недвижимостью, начиная с консультаций на этапе строительства и заканчивая организацией комплексного обслуживания и коммерческого использования объекта на российском рынке недвижимости:
			ul
				li Эксплуатация зданий, прилегающей территории и паркингов
				li Коммерческое управление объектом недвижимости
				li Консультации в области управления недвижимостью
			p Мы также предоставляем Арендаторам услуги высокого уровня по технической эксплуатации зданий- ежедневная эксплуатация всех инженерных систем здания, организация и проведение их технического обслуживания и ремонта , включая ЕТО-ежедневный техосмотр и программы годовых ППР- планово-предупредительных работ. 
			p Наши преимущества-Центральная диспетчерская службa , мобильная бригада, сервисное обслуживание инженерных систем специализированными организациями , застрахованная деятельность, выполнение работ без привлечения подрядных организаций.
			strong «Гранд Сервис Билдинг» - гарантированный сервис для Вашего успешного Бизнеса.