mixin object-small()
	a(href="/object.html" title="").object-small
		figure.object-small__img
			img(src="%=staticPrefix=%images/content/object-small.jpg" alt="")
		.object-small__name BARCLAY PLAZA
		.object-small__contact
			span ул. Барклая, д.6, стр.5 
			span (499) 995-05-74